@charset "utf-8";
body { background: url(../images/bj.jpg) center -50px repeat-x }
/*公共*/
a, a:link, a:visited { text-decoration: none; color: #4a4a4a; }
a:hover { text-decoration: none; color: #d70d2f; cursor:pointer }
.ff { font-family: "Microsoft YaHei" }
.color_yellow { color: #ff6600 }
.color_green { color: #579e0f }
.color_red { color: #f61100 }
/*公共end*/
.luntan_center { width: 960px; margin: 0 auto }
.lt_tit { color: #076bb4; font-size: 30px; font-family: "Microsoft yahei"; line-height: 40px }
.b_crumb a { font-size: 12px; font-family: "宋体"; color: #333333 }
/*统计*/
.luntan_center .tongji { padding-left:5px; height: 30px; background:#fff; border-top:1px solid #CDCDCD;border-left:1px solid #CDCDCD;border-right:1px solid #CDCDCD; line-height:30px}
.luntan_center .tongji div { float: left; }
.luntan_center .tongji .total_msg { height: 100%; width: 70%; background: url(../images/chart.png) no-repeat 0 50%; padding-left: 17px; font-size: 12px; }
.luntan_center .tongji .total_msg span { color: #999999; }
.luntan_center .tongji .link { width: 30%; height: 100%; line-height: 22px; text-align: right; font-size: 12px; }
.luntan_center .tongji .link a { margin: 0px 5px; }
/*主体*/
.total_main { width: 100%; border-left: 1px solid #CDCDCD; border-right: 1px solid #CDCDCD; border-top: 1px solid #C5E6DF; border-bottom: 1px solid #C5E6DF; }
.total_main .plates .plates_head { width: 958px; height: 35px; background: url(../images/titlebg.jpg) center center repeat-x; padding-left: 10px; line-height: 35px; border-left: 3px solid #dc6c18 ; font-weight:bolder}
.luntan_center .total_main  .plates_head span{font-size: 1em;font-weight: 700;color:#429296;}
.luntan_center .total_main  .plates_head span.head_hide{height: 100%;width:30px;background: url("../images/collapsed_no.gif") center no-repeat; float:right; cursor: pointer;}
.luntan_center .total_main  .plates_head span.head_show{height: 100%;width:30px;background: url("../images/collapsed_yes.gif") center no-repeat;float:right; cursor: pointer;}
/*title*/
.plates{padding-bottom:10px}
.plates_content { padding: 10px 19px; }
.plates_content .plate { width: 150px; height:90px; border-bottom: none; position: relative; float: left; text-align:center }
.plates_content .plate_right { height: 55px; font-size: 12px; padding-left: 10px; left: 55px; position: absolute; top: 8px; }
.plates_content .plate_right dt,.plates_content .plate_right dd{margin-top: 2px;width: 170px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*分页*/
.page{ text-align:center; padding-bottom:10px}

.nv_lujing {height:29px;width:100%;line-height: 31px;font-size: 12px;background: url("../images/home.png") left no-repeat;}
.nv_lujing ol {margin: 0px;padding: 0px 0px 0px 20px;background:none ;}
.nv_lujing .breadcrumb > li + li::before {content: ">";}
.luntan_center .plate_info { padding:10px; border: 1px solid #CDCDCD; background:#fff; line-height:28px}
.luntan_center .plate_info .info_msg {border-bottom:1px  dashed #BFBFBF}
.luntan_center .plate_info .info_msg .plate_title{font-size:14px;font-weight: 700;margin-right: 5px;}
.luntan_center .plate_info .info_msg .plate_total{font-size:12px;margin-left: 5px;}
.luntan_center .plate_info .info_msg .plate_total em{color: #429296;font-style:normal;margin: 0px 3px;}
.luntan_center .plate_info .info_msg .plate_total em.total_point{color: #CDCDCD; }
.luntan_center .plate_info .info_msg .y{font-size: 12px;float:right;}
.luntan_center .plate_info .info_msg .y .pipe{color: #CDCDCD;}
.luntan_center .plate_info .info_msg .y .fa_fav{background: url("../images/fav.gif") no-repeat;padding-left: 15px;}
.luntan_center .plate_info .info_msg .y .fa_rss{background: url("../images/feed.gif") no-repeat;padding-left: 15px;}
.luntan_center .plate_info .info_msg .o{font-size: 12px;float:right;margin-top: 10px;margin-left: 20px;cursor: pointer;}
.luntan_center .plate_info .bz {color : #666666; font-size: 12px; border-bottom:1px  dashed #BFBFBF}
.luntan_center .plate_info .bz span {color : #4292B0;}
.luntan_center .plate_info .info_content {color : #666666; font-size: 14px;}
.luntan_center .tiezi_up {width:100%;height:33px;margin: 10px 0px;}
.luntan_center .tiezi_up .fenye{float:right;line-height: 33px;}
.luntan_center .tiezi_up .fenye span{border:1px solid #C2D5E3;padding: 5px 8px;margin-left: 4px;}
.luntan_center .tiezi_up .fenye span.alink{cursor: pointer;}
.luntan_center .tiezi_up .fenye span.active{background-color: #C5E6DF;}
.luntan_center .tiezi_up .fenye span.alink:HOVER{border:1px solid #336699;}

.luntan_center .tieziList_main {width: 100%; border: 1px solid #CDCDCD;}
.luntan_center .tieziList_main .list_top{padding:0px 10px; border-bottom: 1px solid #CDCDCD;height: 36px;line-height: 36px;background-color: #F2F2F2;font-size: 12px;}
.luntan_center .tieziList_main .list_top table{width: 100%;height: 100%;}
.luntan_center .tieziList_main .list_top table .td_2{width: 120px;}
.luntan_center .tieziList_main .list_top table .td_3{width: 60px;text-align:center}
.luntan_center .tieziList_main .list_top table .td_4{width: 105px;text-align:center}
.luntan_center .tieziList_main .list_content {padding:0px 10px; }
.luntan_center .tieziList_main .list_content table {width: 100%; font-weight: 500;font-size:14px;}
.luntan_center .tieziList_main .list_content table tr{border-bottom: 1px solid #CDCDCD;height: 38px;}
.luntan_center .tieziList_main .list_content table tr.toolbar {border-bottom: 1px solid #CDCDCD;height: 24px;background-color: #F2F2F2;}
.luntan_center .tieziList_main .list_content table tr:HOVER{background-color: #F2F2F2;}
.luntan_center .tieziList_main .list_content table td {font-size: 12px;}
.luntan_center .tieziList_main .list_content table td a{font-weight: 500; }
.luntan_center .tieziList_main .list_content table td span{color:#999999;font-weight: 500;line-height: 19px;}
.luntan_center .tieziList_main .list_content table .td_1{background: url(../images/u_ico.jpg) no-repeat 5px center ;padding-left: 28px;}
.luntan_center .tieziList_main .list_content table .td_1 .wid50{max-width: 500px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;float:left;}
.luntan_center .tieziList_main .list_content table .td_1 img.jinghua{float:left;margin-top: 7px;margin-left: 5px;}
.luntan_center .tieziList_main .list_content table .td_1 .right{float:right;}
.luntan_center .tieziList_main .list_content table .td_1 .right a{margin-right: 5px;}
.luntan_center .tieziList_main .list_content table .td_1 em{color: #007CD5;font-style:normal;font-weight: 500;}
.luntan_center .tieziList_main .list_content table .td_2{width: 105px;line-height: 20px;}
.luntan_center .tieziList_main .list_content table .td_2 a{display: block; height: 18px;}
.luntan_center .tieziList_main .list_content table .td_2 span{width: 120px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;display:block}
.luntan_center .tieziList_main .list_content table .td_3{width: 60px;line-height: 19px; text-align:center}
.luntan_center .tieziList_main .list_content table .td_3 a{ height: 14px; color:#900}
.luntan_center .tieziList_main .list_content table .td_4{width: 105px;line-height: 20px;text-align:center}
.luntan_center .tieziList_main .list_content table .td_4 a{display: block; height: 18px;}
/*发帖*/
.luntan_center .fatie_type {margin-top: 5px;}
.luntan_center .fatie_type .fatie_title {margin-top: 5px;line-height: 31px;height: 40px;font-size: 12px;}
.luntan_center .fatie_type .fatie_title select,.luntan_center .fatie_type .fatie_title input,.luntan_center .fatie_type .fatie_title span{margin-top: 5px;float: left;}
.luntan_center .fatie_type .fatie_title select.form-control{width:100px;}
.luntan_center .fatie_type .fatie_title input.form-control{width:300px;}
.luntan_center .fatie_type .fatie_title span{margin-left: 10px;}
.luntan_center .fatie_type .tab-content {clear: both;}
.luntan_center .postTiezi {margin-top: 5px;padding: 5px 10px; text-align:right;}

.luntan_bottom{ text-align:center}


/*帖子详细*/
.tiezi_main { border: 1px solid #CDCDCD; overflow: hidden; }
.tie_left { width: 160px; float: left; min-height: 330px; background-color: #EBF5F6; border-right: 1px solid #CDCDCD; }
.th_l { height: 38px; text-align: center; line-height: 38px; font-size: 12px; border-bottom: 2px #c5e6df solid }
.tie_left .th_l span { color: #999999; font-weight: 500; }
.tie_left .th_l em { color: #429296; font-style: normal; }
.tie_left .p_name { height: 36px; line-height: 36px; font: 14px; font-weight: 700; padding-left: 16px; border-bottom: 1px dotted #CDCDCD; }
.tie_left .p_pic { padding: 10px 16px 0px }
.tie_left .p_img {padding: 5px; display: block }
.tie_right { float: left; width: 798px; }
.tie_right .th_l { font-size: 16px; font-weight: 700; padding-left: 15px; text-align: left }
.tie_right .th_r .pt { height: 36px; border-bottom: 1px dotted #CDCDCD; line-height: 36px;padding-left:20px  }
.tie_right .pt span.time { font-size: 12px; padding-left: 17px; background: url("../images/online_member.gif") left center no-repeat; }
.tie_right .content{ padding-left:20px;margin: 10px;}
/*底部*/
