* {font-family: Arial,"Microsoft YaHei";}
.spacebox-shadow {box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);}
.space_top_nav_back {height: 40px;width:100%;position:fixed;top: 0;opacity: 0.6;background-color: #000;z-index: 1111;}
.space_top_nav {height: 40px;width:100%;position:fixed;top: 0;z-index: 1111;min-width: 1200px;}
.space_top_nav .leftNav{height: 100%;line-height: 40px;display: inline-block;margin-left: 15px;float: left;}
.space_top_nav .leftNav>div{height: 100%;line-height: 40px;cursor: pointer;float: left;}
.space_top_nav .leftNav>div>a{display: block;width: 100%;padding: 0 15px;height: 100%;color:#FFF;}

.space_top_nav .leftNav .spacePortlet #add_portlets_ul{overflow-x: hidden;overflow-y: auto;}
.space_top_nav .leftNav .spacePortlet #tree_portletslist{margin-left: 10px;margin-right: 20px;min-width: 150px;}
.space_top_nav .leftNav .spacePortlet #add_portlets_ul img.closeImg{cursor: pointer;margin-top: 4px;position: absolute;right: 8px;top: 0;}

.space_top_nav .leftNav .layout #change_layout_ul {margin: auto;overflow: hidden;width: 575px;}
.space_top_nav .leftNav .layout #change_layout_ul li{float: left;list-style: outside none none;margin: 5px 5px 5px 15px;width: 121px;}
.space_top_nav .leftNav .layout #change_layout_ul li a{padding: 0;}
.space_top_nav .leftNav .layout #change_layout_ul li span{color: #333333;display: inline-block;margin-top: 5px;overflow: hidden;text-align: center;text-overflow: ellipsis;white-space: nowrap;width: 121px;word-break: break-all;}
.space_top_nav .leftNav .layout #change_layout_ul li span .ischeck{float: left;margin-left: 10px;}

.space_top_nav .select #space_select_by_sort > div {display: inline-block;height: 40px;line-height: 40px;vertical-align: top;}
.space_top_nav .select #space_select_by_sort > div.sort {border-right: 1px solid #485A66;cursor: pointer;}
.space_top_nav .select #space_select_by_sort > div .sort_select {height: 30px;margin-top: 5px;border-radius: 0;border: none;position: relative;line-height: 30px;background-color: #FFF;width: 76px;padding-left: 20px;border-top-left-radius: 15px;border-bottom-left-radius: 15px;}
.space_top_nav .select #space_select_by_sort > div .sort_select .sort_select_val{position: absolute;left: 5px;top: 35px;background-color: #FFF;width: 70px;display: none;z-index: 1001;-moz-box-shadow:0px 1px 2px  rgba(0,0,0,0.35); -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.35); box-shadow:0px 1px 2px rgba(0,0,0,0.35);}
.space_top_nav .select #space_select_by_sort > div .sort_select .drop_div{height: 0px;width: 0px; border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 8px solid #6F6F6F;display: inline-block;margin-left: 4px;}
.space_top_nav .select #space_select_by_sort > div .sort_select .sort_select_val>div{text-align: center;}
.space_top_nav .select #space_select_by_sort > div .sort_select .sort_select_val>div:hover{background-color: #EAEBEC;}
.space_top_nav .select #space_select_by_sort > div .select_input {height: 30px;margin-top: 5px;width: 273px;border-radius: 0;border: none;padding-left: 5px;padding-right: 5px;border-top-right-radius: 15px;border-bottom-right-radius: 15px;border: 2px solid #FFF;line-height: 30px;}
.space_top_nav .select #space_select_by_sort > div .select_input:focus {border: 2px solid #97DA93;}
.space_top_nav .select .select_info {width: 267px;border-radius: 0;left:77px;top: 38px;border: none;}
.space_top_nav .select .select_info .select_list .datalist {cursor: pointer;}
.space_top_nav .select .select_info .select_list .datalist:hover{background-color: #F3F3F6;}
.space_top_nav .select .select_info .select_list .name{width: 35%;height: 30px;line-height: 30px;display: inline-block;padding-left: 10px;}
.space_top_nav .select .select_info .select_list .org{width: 65%;height: 30px;line-height: 30px;display: inline-block;padding-left: 5px;}
.space_top_nav .select .select_info .select_page {width: 100%;height: 25px;line-height: 25px;}
.space_top_nav .select .select_info .select_page > div{display: inline-block;font-size: 12px;}
.space_top_nav .select .select_info .select_page .lgt{width: 40px;text-align: center;color: #FF4E00;cursor: pointer;}
.space_top_nav .select .select_info .select_page .lgt:hover{background-color: #F3F3F6;}
.space_top_nav .select .select_info .select_page .mgt{width: 184px;text-align: center;}
.space_top_nav .select .select_info .select_page .rgt{width: 40px;text-align: center;color: #FF4E00;cursor: pointer;}
.space_top_nav .select .select_info .select_page .rgt:hover{background-color: #F3F3F6;}
.space_top_nav .select .select_page span {display: block;width: 100%;height: 100%;}

.space_top_nav .message .messages_box{width: 300px;right: 0;left: auto;padding:0;}
.space_top_nav .message .messages_box .messagesa{line-height: normal;padding-top: 10px;}
.space_top_nav .message .messages_box .messagesa span{font-size: 12px;margin-left: 10px;font-family: "simsun";display: block;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
.space_top_nav .message .messages_box .messagesa span em{font-style: normal;color: #428bca;display: inline-block;width: 70px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;vertical-align: middle;}
.space_top_nav .message .messages_box .messagesa input{font-size:13px;font-family: "simsun";border: 0 none;color: #fff;height: 20px;line-height: 20px;text-align: center;width: 45px;}
.space_top_nav .message .messages_box .messagesa input.bg1{background: #f19149 none repeat scroll 0 0;}
.space_top_nav .message .messages_box .messagesa input.bg2{background: #848484 none repeat scroll 0 0;}
.space_top_nav .message .messages_box .messagesa p{background: url('../../../images/social/manage/timebg.jpg') no-repeat scroll center center;color: #434343;font-size: 12px;height: 25px;line-height: 25px;margin: auto;text-align: center;width: 243px;}
.space_top_nav .message .msg_span {display: inline-block;width:25px;color: #fff;height: 20px;line-height: 20px;background: url(../../../images/social/manage/ellipse.png) center no-repeat;text-align: center;margin-left: 5px;}
.space_top_nav .message .more {background: #f2f2f5 none repeat scroll 0 0;border-top: 1px solid #d5d5d5;height: 33px;line-height: 33px;text-align: center;}
.space_top_nav .message .more a{font-size: 13px;color: #666;}
.getAllshenqingMsg {height: 460px;margin: 0;overflow: hidden;padding: 0;width: 750px;}
.getAllshenqingMsg .messagesa {border-bottom: 1px dotted #666;padding-bottom: 5px;padding-top: 5px;}
.getAllshenqingMsg .messagesa span {color: #434343;font-family: "simsun";font-size: 12px;display: inline-block;width: 75%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.getAllshenqingMsg .messagesa p{display: inline-block;width: 25%;margin: 0;text-align: center;vertical-align: top;}
.getAllshenqingMsg .messagesa input {font-size:13px;font-family: "simsun";border: 0 none;color: #fff;height: 20px;line-height: 20px;text-align: center;width: 45px;}
.getAllshenqingMsg .messagesa input.bg1{background: #f19149 none repeat scroll 0 0;}
.getAllshenqingMsg .messagesa input.bg2{background: #848484 none repeat scroll 0 0;}
.getAllshenqingMsg #allshenqingMsgPage {position: absolute;bottom: 5px;right: 15px;}
.getAllshenqingMsg #deleteAllshenqingMsgPage {position: absolute;bottom: 14px;}

#addFriendDialog .addFriendDialog_t{width:330px;height:125px;}
#addFriendDialog .addFriendDialog_t .l,#addFriendDialog .addFriendDialog_t .r{float: left;}
#addFriendDialog .addFriendDialog_t .l{width:125px;height:125px;padding:0px 25px 25px 0px;}
#addFriendDialog .addFriendDialog_t .l img{width:100%;height:100%;}
#addFriendDialog .addFriendDialog_t .r{width:205px;height:125px;}
#addFriendDialog .addFriendDialog_t .r>div{clear:both;}
#addFriendDialog .addFriendDialog_t .r .t{width:100%;height:25px;line-height:25px;margin-top: 25px;}
#addFriendDialog .addFriendDialog_t .r .c{width:100%;height:25px;line-height:25px;}
#addFriendDialog .addFriendDialog_b {width:100%;}
#addFriendDialog .addFriendDialog_b .form-control{width:200px;}

.space_top_nav .right{height: 100%;line-height: 40px;float: right;padding-right: 15px;}
.space_top_nav .right>div{height: 100%;line-height: 40px;float: left;}
.space_top_nav .right .person ul.dropdown-menu{right: 0;min-width: 170px;overflow-y: auto;text-align: center;left: auto;}
.space_top_nav .right>div>a{display: block;width: 100%;height: 100%;color:#FFF;padding: 0 15px;cursor: pointer;}

.space_top_nav .viewSpace ul.dropdown-menu{left: 0;min-width: 170px;overflow-y: auto;text-align: center;}
.space_top_nav .viewSpace .back{font-size: 12px;color: #2399EE;}
/* themem */
#change_layout_ul {margin: auto;overflow: hidden;width: 575px;}
#change_layout_ul li {float: left;list-style: outside none none;margin: 5px 5px 5px 15px;width: 121px;}
#change_layout_ul li a{padding:0;}
#change_layout_ul li a:hover {background-color: white;}
#portlets_div {word-wrap: break-word;margin-top:5px;}
#portlets_div.sec_div {margin-right: 6px;overflow-x: hidden;padding: 5px 0 0 5px;}
#change_layout_ul li span {color: #333333;display: inline-block;margin-top: 5px;overflow: hidden;text-align: center;text-overflow: ellipsis;white-space: nowrap;width: 121px;word-break: break-all;}
#change_layout_ul li span .ischeck {float: left;margin-left: 10px;}
#change_theme_ul {margin: auto;overflow: hidden;width: 575px;}
#change_theme_ul li {float: left;list-style: outside none none;margin: 5px 5px 5px 15px;width: 121px;}
#change_theme_ul li a{padding:0;}
#change_theme_ul li a:hover {background-color: white;}
#change_theme_ul li span {color: #333333;display: inline-block;margin-top: 5px;overflow: hidden;text-align: center;text-overflow: ellipsis;white-space: nowrap;width: 121px;word-break: break-all;}
#change_theme_ul li span .ischeck {float: left;margin-left: 10px;}
#login_form {width:266px;margin-top: -25px;}
#login_form h3 {border-bottom: 1px solid #666;color: #333;font: bold 20px "microsoft yahei";text-align: center;margin-top:30px;padding-bottom:10px;}
#login_form .space-btn-primary {background: #ff8821 none repeat scroll 0 0;color: #fff;width: 100%;}

/*导航+下拉菜单*/
.navaaa{height:35px;float:right;margin-top: 13px;}
.navaaa li{float:left;height:30px;line-height:30px;text-align:center;font-size:14px;position:relative; list-style:none;}
.navaaa li a{text-decoration:none;display:block; color:#333; padding:0 10px; margin:0 10px; }
.navaaa li a.link{float:left;}
.navaaa ul li a:hover{display:block;}
.navaaa dl{font-size:14px;background:#F2FAFC;position:absolute;top:32px;left:10px; z-index:999; padding-top:10px; padding:0 10px;}
.navaaa dl dd a{color:#333; display:block; height:30px; line-height:30px; padding:0; margin:0;}
.navaaa dl dd a:hover{color:#346BAC;background:#F0FAFC; border-bottom:0;}

/* 第二版主题样式---仿百度 */
.spaceDropDownV2 {width: 100%;height: 265px;background-color: #FFF;position: fixed;left: 0;top: 40px;margin: 0;border-radius: 0;border: none;padding: 0;border-bottom: 1px solid #E3E3E3;}
.spaceDropDownV2 .theme100 {margin: 0 auto;width: 1200px;}
.spaceDropDownV2 .theme100.nav-tabs > li > a {margin-right: 0;border-radius: 0;}
.spaceDropDownV2 .theme100 .leftTh{width: 773px;float: left;height: 194px;margin-top: 14px;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane{width: 100%;height: 100%;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane .th_l{width: 386px;float: left;height: 100%;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane .th_r{width: 386px;float: right;height: 100%;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane .bigImg {float: left;width: 257px;height: 129px;cursor: pointer;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane .img {float: left;width: 128px;height: 64px;cursor: pointer;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane .mr {margin-right: 1px;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane .mt {margin-top: 1px;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane .mb {margin-bottom: 1px;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane .ml {margin-left: 1px;}
.spaceDropDownV2 .theme100 .rightTh{width: 347px;float: right;margin-top: 14px;height: 194px;border-width: 4px 2px 1px 2px;border-color: #DFDFDF;border-style: solid;}
.spaceDropDownV2 .theme100 .rightTh .rightThBg{width: 100%;height: 100%;background: url(../../../images/space/main/themeBg.png) no-repeat;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane .bigImg .checked{width:24px;height:24px;margin-top: 100px;margin-left: 228px;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane .img .checked{width:24px;height:24px;margin-top: 35px;margin-left: 99px;}
.spaceDropDownV2 .theme100 .leftTh .tab-pane .checked.active {background: url(../../../images/space/main/ok.png) no-repeat;}
/*   炫彩主题   */
.spaceDropDownV2 .tab-pane .teacher {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px 0px;}
.spaceDropDownV2 .tab-pane .student {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px -129px;}
.spaceDropDownV2 .tab-pane .style3 {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px -193px;}
.spaceDropDownV2 .tab-pane .style4 {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px -257px;}
.spaceDropDownV2 .tab-pane .style5 {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px -321px;}
.spaceDropDownV2 .tab-pane .style6 {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px -385px;}
.spaceDropDownV2 .tab-pane .style7 {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px -449px;}
.spaceDropDownV2 .tab-pane .style8 {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px -513px;}
.spaceDropDownV2 .tab-pane .style9 {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px -577px;}
.spaceDropDownV2 .tab-pane .style10 {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px -641px;}
.spaceDropDownV2 .tab-pane .style11 {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px -770px;}
.spaceDropDownV2 .tab-pane .style12 {background: url(../../../images/space/main/newTheme12.png) no-repeat 0px -834px;}
.spaceDropDownV2 .rightTh.teacher {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px 0px;}
.spaceDropDownV2 .rightTh.student {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px -223px;}
.spaceDropDownV2 .rightTh.style3 {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px -446px;}
.spaceDropDownV2 .rightTh.style4 {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px -669px;}
.spaceDropDownV2 .rightTh.style5 {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px -892px;}
.spaceDropDownV2 .rightTh.style6 {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px -1115px;}
.spaceDropDownV2 .rightTh.style7 {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px -1338px;}
.spaceDropDownV2 .rightTh.style8 {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px -1561px;}
.spaceDropDownV2 .rightTh.style9 {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px -1784px;}
.spaceDropDownV2 .rightTh.style10 {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px -2007px;}
.spaceDropDownV2 .rightTh.style11 {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px -2230px;}
.spaceDropDownV2 .rightTh.style12 {background: url(../../../images/space/main/newThemeBg12.png) no-repeat 0px -2453px;}
/*  旧版空间主题  */
.spaceDropDownV2 .tab-pane .oldTheme1 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px 0px;}
.spaceDropDownV2 .tab-pane .oldTheme2 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px -129px;}
.spaceDropDownV2 .tab-pane .oldTheme3 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px -193px;}
.spaceDropDownV2 .tab-pane .oldTheme4 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px -257px;}
.spaceDropDownV2 .tab-pane .oldTheme5 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px -321px;}
.spaceDropDownV2 .tab-pane .oldTheme6 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px -385px;}
.spaceDropDownV2 .tab-pane .oldTheme7 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px -449px;}
.spaceDropDownV2 .tab-pane .oldTheme8 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px -513px;}
.spaceDropDownV2 .tab-pane .oldTheme9 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px -577px;}
.spaceDropDownV2 .tab-pane .oldTheme10 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px -641px;}
.spaceDropDownV2 .tab-pane .oldTheme11 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px -770px;}
.spaceDropDownV2 .tab-pane .oldTheme12 {background: url(../../../images/space/main/oldTheme.png) no-repeat 0px -834px;}
.spaceDropDownV2 .rightTh.oldTheme1 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px 0px;}
.spaceDropDownV2 .rightTh.oldTheme2 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px -194px;}
.spaceDropDownV2 .rightTh.oldTheme3 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px -388px;}
.spaceDropDownV2 .rightTh.oldTheme4 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px -582px;}
.spaceDropDownV2 .rightTh.oldTheme5 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px -776px;}
.spaceDropDownV2 .rightTh.oldTheme6 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px -970px;}
.spaceDropDownV2 .rightTh.oldTheme7 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px -1164px;}
.spaceDropDownV2 .rightTh.oldTheme8 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px -1358px;}
.spaceDropDownV2 .rightTh.oldTheme9 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px -1552px;}
.spaceDropDownV2 .rightTh.oldTheme10 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px -1746px;}
.spaceDropDownV2 .rightTh.oldTheme11 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px -1940px;}
.spaceDropDownV2 .rightTh.oldTheme12 {background: url(../../../images/space/main/oldThemeBg.png) no-repeat 0px -2134px;}
/* --------------------------------------------------------------------------- */
.spaceBackDiv {width:100%;min-width:1200px;height:305px;padding-top:105px;}
.spaceBackDiv .name{color:#333;width:1200px;text-align: center;font-size: 28px;font-weight: bold;margin: 0 auto;height: 31px;line-height: 31px;}
.spaceBackDiv .signature{color:#333;width:425px;font-size: 16px;margin: 10px auto 15px;text-align: center;}
.spaceBackDiv .attentionAndVisitorDiv{margin: 0 auto;text-align: center;}
.spaceBackDiv .attentionAndVisitorDiv .btn{margin: 2px;border: none;width: 96px;background-color: #ff8800;color: #FFF;}
.spaceBackDiv .attentionAndVisitorDiv .btn[disabled]{margin: 2px;border: none;width: 96px;background-color: #5c5c5c;}
/* --------------------------------------------------------------------------- */
#nav_space_maintop {height: 46px;margin: 0 auto;width: 1200px !important;border-radius:2px;background-color: #FFF;background-color: rgba(255, 255, 255, 0.9);}
#navul_space {padding-left: 5px;margin-bottom: 0;position: relative;width: 100%;}
#navul_space li {float: left;font-size: 15px;height: 46px;line-height: 46px;list-style-type: none;position: relative;text-align: center;}
#navul_space li a:link, #navul_space li a:visited {font-size: 14px;color:#333333;font-weight: bold;}
#navul_space li ul {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: none repeat scroll 0 0;/* border:1px solid #c6c6c6; */display: none;left: 0px;position: absolute;z-index: 999;top:46px;padding-left: 0;}
#navul_space li ul li {color:#FFF;font-weight:bold;border-bottom: 1px solid #c6c6c6;display: block;float: none;font-size: 12px;height: 35px;line-height: 35px;overflow: hidden;/* position: relative; */text-overflow: ellipsis;white-space: nowrap;/* width: 80px; */text-align: left;padding-left: 3px;padding-right: 3px;background-color: #333333;min-width:150px;}
#navul_space li.navmoon {background: none repeat scroll 0 0;height: 46px;line-height: 46px;}
#navul_space li.navmoon a {color: #404a58;}
#navul_space li.navhome a:hover {color: #fcff00;}
#navul_space li.navmoon ul {display: block;}
#navul_space li.navmoon ul a {height: 35px;line-height: 35px;}
#navul_space li.navmoon ul a:hover li {background: none repeat scroll 0 0 #fff;color: #0573bd;}
#navul_space li.navmoon ul li:HOVER{background: #c55a49;color:#FFF;font-size:12px;min-width:150px;}
#navul_space li.outli {padding: 0;}
#navul_space li.outli.active {background-color: transparent;border: none;}
#navul_space li.outli > a {padding: 7px 15px;border-radius: 5px;}
#nav_space_maintop .setting {display: block;width: 30px;height: 30px;background: url("../../../images/space/icon_shezhib.png") center no-repeat #FFF;position: absolute;right: 10px;top: 10px;border-radius: 5px;cursor: pointer;}
/*---------------------*/

/* --------------------------------------------------------------------------- */
body[themetype="person"][themeval="teacher"] {background: url(../../../images/space/top1_bg.jpg) no-repeat scroll center top #000000;}
body[themetype="org"][themeval="teacher"] {background-color: #FFF;}
body[themetype="org"][themeval="teacher"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="teacher"] .portlet .portlet_content {border-top: 2px solid #5B8ED1;}
body[themetype="org"][themeval="teacher"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="teacher"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon1.png") left center no-repeat;}
body[themetype="org"][themeval="teacher"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #5B8ED1;color:#FFF;}
body[themetype="org"][themeval="teacher"] .fontcolor{color: #5B8ED1;}
body[themetype="org"][themeval="teacher"] .navaaa li a:hover{border-bottom:2px solid #5B8ED1;}
body[themetype="org"][themeval="teacher"] .navaaa li a.active{border-bottom:2px solid #5B8ED1;}
body[themetype="person"][themeval="teacher"] #navul_space li.navmoon:HOVER a{color: #c55a49;}
body[themetype="person"][themeval="teacher"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top1_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="teacher"] .spacetabs ul.nav-tabs li.active .tabname{color: #c55a49;}
body[themetype="person"][themeval="teacher"] .bgcolor{background-color: #c55a49;}
body[themetype="person"][themeval="teacher"] .bghover:HOVER{background-color: #c55a49;}
body[themetype="person"][themeval="teacher"] .fontcolor{color: #c55a49;}
body[themetype="person"][themeval="teacher"] .bgfontcolor:HOVER{color: #c55a49;}
body[themetype="person"][themeval="teacher"] #navul_space li.outli.active > a {color: #c55a49;}

body[themetype="person"][themeval="student"] {background: url(../../../images/space/top2_bg.jpg) no-repeat scroll center top #000000;}
body[themetype="org"][themeval="student"] {background-color: #FFF;}
body[themetype="org"][themeval="student"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="student"] .portlet .portlet_content {border-top: 2px solid #B90A44;}
body[themetype="org"][themeval="student"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="student"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon2.png") left center no-repeat;}
body[themetype="org"][themeval="student"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #B90A44;color:#FFF;}
body[themetype="org"][themeval="student"] .fontcolor{color: #B90A44;}
body[themetype="org"][themeval="student"] .navaaa li a:hover{border-bottom:2px solid #B90A44;}
body[themetype="org"][themeval="student"] .navaaa li a.active{border-bottom:2px solid #B90A44;}
body[themetype="person"][themeval="student"] #navul_space li.navmoon:HOVER a{color: #69529a;}
body[themetype="person"][themeval="student"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top2_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="student"] .spacetabs ul.nav-tabs li.active .tabname{color: #69529a;}
body[themetype="person"][themeval="student"] .bgcolor{background-color: #69529a;}
body[themetype="person"][themeval="student"] .bghover:HOVER{background-color: #69529a;}
body[themetype="person"][themeval="student"] .fontcolor{color: #69529a;}
body[themetype="person"][themeval="student"] .bgfontcolor:HOVER{color: #69529a;}
body[themetype="person"][themeval="student"] #navul_space li.outli.active > a {color: #69529a;}

body[themetype="person"][themeval="style3"] {background: url(../../../images/space/top3_bg.jpg) no-repeat scroll center top #3aaa9a;}
body[themetype="org"][themeval="style3"] {background-color: #FFF;}
body[themetype="org"][themeval="style3"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="style3"] .portlet .portlet_content {border-top: 2px solid #EC6941;}
body[themetype="org"][themeval="style3"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="style3"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon3.png") left center no-repeat;}
body[themetype="org"][themeval="style3"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #EC6941;color:#FFF;}
body[themetype="org"][themeval="style3"] .fontcolor{color: #EC6941;}
body[themetype="org"][themeval="style3"] .navaaa li a:hover{border-bottom:2px solid #EC6941;}
body[themetype="org"][themeval="style3"] .navaaa li a.active{border-bottom:2px solid #EC6941;}
body[themetype="person"][themeval="style3"] #navul_space li.navmoon:HOVER a{color: #3aaa9a;}
body[themetype="person"][themeval="style3"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top3_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="style3"] .spacetabs ul.nav-tabs li.active .tabname{color: #3aaa9a;}
body[themetype="person"][themeval="style3"] .bgcolor{background-color: #3aaa9a;}
body[themetype="person"][themeval="style3"] .bghover:HOVER{background-color: #3aaa9a;}
body[themetype="person"][themeval="style3"] .fontcolor{color: #3aaa9a;}
body[themetype="person"][themeval="style3"] .bgfontcolor:HOVER{color: #3aaa9a;}
body[themetype="person"][themeval="style3"] #navul_space li.outli.active > a {color: #3aaa9a;}

body[themetype="person"][themeval="style4"] {background: url(../../../images/space/top4_bg.jpg) no-repeat scroll center top #5a87ae;}
body[themetype="org"][themeval="style4"] {background-color: #FFF;}
body[themetype="org"][themeval="style4"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="style4"] .portlet .portlet_content {border-top: 2px solid #0E969C;}
body[themetype="org"][themeval="style4"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="style4"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon4.png") left center no-repeat;}
body[themetype="org"][themeval="style4"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #0E969C;color:#FFF;}
body[themetype="org"][themeval="style4"] .fontcolor{color: #0E969C;}
body[themetype="org"][themeval="style4"] .navaaa li a:hover{border-bottom:2px solid #0E969C;}
body[themetype="org"][themeval="style4"] .navaaa li a.active{border-bottom:2px solid #0E969C;}
body[themetype="person"][themeval="style4"] #navul_space li.navmoon:HOVER a{color: #5a87ae;}
body[themetype="person"][themeval="style4"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top4_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="style4"] .spacetabs ul.nav-tabs li.active .tabname{color: #5a87ae;}
body[themetype="person"][themeval="style4"] .bgcolor{background-color: #5a87ae;}
body[themetype="person"][themeval="style4"] .bghover:HOVER{background-color: #5a87ae;}
body[themetype="person"][themeval="style4"] .fontcolor{color: #5a87ae;}
body[themetype="person"][themeval="style4"] .bgfontcolor:HOVER{color: #5a87ae;}
body[themetype="person"][themeval="style4"] #navul_space li.outli.active > a {color: #5a87ae;}

body[themetype="person"][themeval="style5"] {background: url(../../../images/space/top5_bg.jpg) no-repeat scroll center top #7e83a9;}
body[themetype="org"][themeval="style5"] {background-color: #FFF;}
body[themetype="org"][themeval="style5"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="style5"] .portlet .portlet_content {border-top: 2px solid #A57A21;}
body[themetype="org"][themeval="style5"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="style5"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon5.png") left center no-repeat;}
body[themetype="org"][themeval="style5"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #A57A21;color:#FFF;}
body[themetype="org"][themeval="style5"] .fontcolor{color: #A57A21;}
body[themetype="org"][themeval="style5"] .navaaa li a:hover{border-bottom:2px solid #A57A21;}
body[themetype="org"][themeval="style5"] .navaaa li a.active{border-bottom:2px solid #A57A21;}
body[themetype="person"][themeval="style5"] #navul_space li.navmoon:HOVER a{color: #5a63a1;}
body[themetype="person"][themeval="style5"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top5_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="style5"] .spacetabs ul.nav-tabs li.active .tabname{color: #5a63a1;}
body[themetype="person"][themeval="style5"] .bgcolor{background-color: #5a63a1;}
body[themetype="person"][themeval="style5"] .bghover:HOVER{background-color: #5a63a1;}
body[themetype="person"][themeval="style5"] .fontcolor{color: #5a63a1;}
body[themetype="person"][themeval="style5"] .bgfontcolor:HOVER{color: #5a63a1;}
body[themetype="person"][themeval="style5"] #navul_space li.outli.active > a {color: #5a63a1;}

body[themetype="person"][themeval="style6"] {background: url(../../../images/space/top6_bg.jpg) no-repeat scroll center top #8eaf9a;}
body[themetype="org"][themeval="style6"] {background-color: #FFF;}
body[themetype="org"][themeval="style6"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="style6"] .portlet .portlet_content {border-top: 2px solid #829032;}
body[themetype="org"][themeval="style6"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="style6"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon6.png") left center no-repeat;}
body[themetype="org"][themeval="style6"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #829032;color:#FFF;}
body[themetype="org"][themeval="style6"] .fontcolor{color: #829032;}
body[themetype="org"][themeval="style6"] .navaaa li a:hover{border-bottom:2px solid #829032;}
body[themetype="org"][themeval="style6"] .navaaa li a.active{border-bottom:2px solid #829032;}
body[themetype="person"][themeval="style6"] #navul_space li.navmoon:HOVER a{color: #3276ce;}
body[themetype="person"][themeval="style6"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top6_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="style6"] .spacetabs ul.nav-tabs li.active .tabname{color: #3276ce;}
body[themetype="person"][themeval="style6"] .bgcolor{background-color: #3276ce;}
body[themetype="person"][themeval="style6"] .bghover:HOVER{background-color: #3276ce;}
body[themetype="person"][themeval="style6"] .fontcolor{color: #3276ce;}
body[themetype="person"][themeval="style6"] .bgfontcolor:HOVER{color: #3276ce;}
body[themetype="person"][themeval="style6"] #navul_space li.outli.active > a {color: #3276ce;}

body[themetype="person"][themeval="style7"] {background: url(../../../images/space/top7_bg.jpg) no-repeat scroll center top #493e60;}
body[themetype="org"][themeval="style7"] {background-color: #FFF;}
body[themetype="org"][themeval="style7"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="style7"] .portlet .portlet_content {border-top: 2px solid #BBC96C;}
body[themetype="org"][themeval="style7"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="style7"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon7.png") left center no-repeat;}
body[themetype="org"][themeval="style7"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #BBC96C;color:#FFF;}
body[themetype="org"][themeval="style7"] .fontcolor{color: #BBC96C;}
body[themetype="org"][themeval="style7"] .navaaa li a:hover{border-bottom:2px solid #BBC96C;}
body[themetype="org"][themeval="style7"] .navaaa li a.active{border-bottom:2px solid #BBC96C;}
body[themetype="person"][themeval="style7"] #navul_space li.navmoon:HOVER a{color: #69529a;}
body[themetype="person"][themeval="style7"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top7_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="style7"] .spacetabs ul.nav-tabs li.active .tabname{color: #69529a;}
body[themetype="person"][themeval="style7"] .bgcolor{background-color: #69529a;}
body[themetype="person"][themeval="style7"] .bghover:HOVER{background-color: #69529a;}
body[themetype="person"][themeval="style7"] .fontcolor{color: #69529a;}
body[themetype="person"][themeval="style7"] .bgfontcolor:HOVER{color: #69529a;}
body[themetype="person"][themeval="style7"] #navul_space li.outli.active > a {color: #69529a;}

body[themetype="person"][themeval="style8"] {background: url(../../../images/space/top8_bg.jpg) no-repeat scroll center top #636468;}
body[themetype="org"][themeval="style8"] {background-color: #FFF;}
body[themetype="org"][themeval="style8"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="style8"] .portlet .portlet_content {border-top: 2px solid #D4A850;}
body[themetype="org"][themeval="style8"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="style8"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon8.png") left center no-repeat;}
body[themetype="org"][themeval="style8"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #D4A850;color:#FFF;}
body[themetype="org"][themeval="style8"] .fontcolor{color: #D4A850;}
body[themetype="org"][themeval="style8"] .navaaa li a:hover{border-bottom:2px solid #D4A850;}
body[themetype="org"][themeval="style8"] .navaaa li a.active{border-bottom:2px solid #D4A850;}
body[themetype="person"][themeval="style8"] #navul_space li.navmoon:HOVER a{color: #ed8e54;}
body[themetype="person"][themeval="style8"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top8_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="style8"] .spacetabs ul.nav-tabs li.active .tabname{color: #ed8e54;}
body[themetype="person"][themeval="style8"] .bgcolor{background-color: #ed8e54;}
body[themetype="person"][themeval="style8"] .bghover:HOVER{background-color: #ed8e54;}
body[themetype="person"][themeval="style8"] .fontcolor{color: #ed8e54;}
body[themetype="person"][themeval="style8"] .bgfontcolor:HOVER{color: #ed8e54;}
body[themetype="person"][themeval="style8"] #navul_space li.outli.active > a {color: #ed8e54;}

body[themetype="person"][themeval="style9"] {background: url(../../../images/space/top9_bg.jpg) no-repeat scroll center top #b0ccf4;}
body[themetype="org"][themeval="style9"] {background-color: #FFF;}
body[themetype="org"][themeval="style9"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="style9"] .portlet .portlet_content {border-top: 2px solid #E9D0A8;}
body[themetype="org"][themeval="style9"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="style9"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon9.png") left center no-repeat;}
body[themetype="org"][themeval="style9"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #E9D0A8;color:#FFF;}
body[themetype="org"][themeval="style9"] .fontcolor{color: #E9D0A8;}
body[themetype="org"][themeval="style9"] .navaaa li a:hover{border-bottom:2px solid #E9D0A8;}
body[themetype="org"][themeval="style9"] .navaaa li a.active{border-bottom:2px solid #E9D0A8;}
body[themetype="person"][themeval="style9"] #navul_space li.navmoon:HOVER a{color: #709fe1;}
body[themetype="person"][themeval="style9"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top9_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="style9"] .spacetabs ul.nav-tabs li.active .tabname{color: #709fe1;}
body[themetype="person"][themeval="style9"] .bgcolor{background-color: #709fe1;}
body[themetype="person"][themeval="style9"] .bghover:HOVER{background-color: #709fe1;}
body[themetype="person"][themeval="style9"] .fontcolor{color: #709fe1;}
body[themetype="person"][themeval="style9"] .bgfontcolor:HOVER{color: #709fe1;}
body[themetype="person"][themeval="style9"] #navul_space li.outli.active > a {color: #709fe1;}

body[themetype="person"][themeval="style10"] {background: url(../../../images/space/top10_bg.jpg) no-repeat scroll center top #c7dddb;}
body[themetype="org"][themeval="style10"] {background-color: #FFF;}
body[themetype="org"][themeval="style10"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="style10"] .portlet .portlet_content {border-top: 2px solid #F7A6B7;}
body[themetype="org"][themeval="style10"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="style10"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon10.png") left center no-repeat;}
body[themetype="org"][themeval="style10"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #F7A6B7;color:#FFF;}
body[themetype="org"][themeval="style10"] .fontcolor{color: #F7A6B7;}
body[themetype="org"][themeval="style10"] .navaaa li a:hover{border-bottom:2px solid #F7A6B7;}
body[themetype="org"][themeval="style10"] .navaaa li a.active{border-bottom:2px solid #F7A6B7;}
body[themetype="person"][themeval="style10"] #navul_space li.navmoon:HOVER a{color: #5bb1a4;}
body[themetype="person"][themeval="style10"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top10_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="style10"] .spacetabs ul.nav-tabs li.active .tabname{color: #5bb1a4;}
body[themetype="person"][themeval="style10"] .bgcolor{background-color: #5bb1a4;}
body[themetype="person"][themeval="style10"] .bghover:HOVER{background-color: #5bb1a4;}
body[themetype="person"][themeval="style10"] .fontcolor{color: #5bb1a4;}
body[themetype="person"][themeval="style10"] .bgfontcolor:HOVER{color: #5bb1a4;}
body[themetype="person"][themeval="style10"] #navul_space li.outli.active > a {color: #5bb1a4;}

body[themetype="person"][themeval="style11"] {background: url(../../../images/space/top11_bg.jpg) no-repeat scroll center top #cdc9ae;}
body[themetype="org"][themeval="style11"] {background-color: #FFF;}
body[themetype="org"][themeval="style11"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="style11"] .portlet .portlet_content {border-top: 2px solid #BFCFDC;}
body[themetype="org"][themeval="style11"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="style11"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon11.png") left center no-repeat;}
body[themetype="org"][themeval="style11"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #BFCFDC;color:#FFF;}
body[themetype="org"][themeval="style11"] .fontcolor{color: #BFCFDC;}
body[themetype="org"][themeval="style11"] .navaaa li a:hover{border-bottom:2px solid #BFCFDC;}
body[themetype="org"][themeval="style11"] .navaaa li a.active{border-bottom:2px solid #BFCFDC;}
body[themetype="person"][themeval="style11"] #navul_space li.navmoon:HOVER a{color: #d57077;}
body[themetype="person"][themeval="style11"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top11_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="style11"] .spacetabs ul.nav-tabs li.active .tabname{color: #d57077;}
body[themetype="person"][themeval="style11"] .bgcolor{background-color: #d57077;}
body[themetype="person"][themeval="style11"] .bghover:HOVER{background-color: #d57077;}
body[themetype="person"][themeval="style11"] .fontcolor{color: #d57077;}
body[themetype="person"][themeval="style11"] .bgfontcolor:HOVER{color: #d57077;}
body[themetype="person"][themeval="style11"] #navul_space li.outli.active > a {color: #d57077;}

body[themetype="person"][themeval="style12"] {background: url(../../../images/space/top12_bg.jpg) no-repeat scroll center top #e0cb94;}
body[themetype="org"][themeval="style12"] {background-color: #FFF;}
body[themetype="org"][themeval="style12"] .space_h2_bg {color: #E1C1AC;font-weight:bold;}
body[themetype="org"][themeval="style12"] .portlet .portlet_content {border-top: 2px solid #E1C1AC;}
body[themetype="org"][themeval="style12"] #nav_orgspace_maintop {background: none repeat scroll 0 0 #DE9B6C;}
body[themetype="org"][themeval="style12"] #portlets_div .column .portlet_header h2 span.h2_title {background: url("../../../images/space/rightIcon12.png") left center no-repeat;}
body[themetype="org"][themeval="style12"] #portlets_div .column:first-child .portlet_header h2 span.h2_title {background: none #E1C1AC;color:#FFF;}
body[themetype="org"][themeval="style12"] .fontcolor{color: #E1C1AC;}
body[themetype="org"][themeval="style12"] .navaaa li a:hover{border-bottom:2px solid #E1C1AC;}
body[themetype="org"][themeval="style12"] .navaaa li a.active{border-bottom:2px solid #E1C1AC;}
body[themetype="person"][themeval="style12"] #navul_space li.navmoon:HOVER a{color: #caa850;}
body[themetype="person"][themeval="style12"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/top12_bg.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="style12"] .spacetabs ul.nav-tabs li.active .tabname{color: #caa850;}
body[themetype="person"][themeval="style12"] .bgcolor{background-color: #caa850;}
body[themetype="person"][themeval="style12"] .bghover:HOVER{background-color: #caa850;}
body[themetype="person"][themeval="style12"] .fontcolor{color: #caa850;}
body[themetype="person"][themeval="style12"] .bgfontcolor:HOVER{color: #caa850;}
body[themetype="person"][themeval="style12"] #navul_space li.outli.active > a {color: #caa850;}
/*=================旧版空间主题=只给个人空间使用===========================================*/
/*
body#person_space.oldTheme1 {background: url(../../../images/space/main/oldTheme_1.jpg) no-repeat scroll center top #FFFFFF;}
.oldTheme1 #navul_space li.navmoon:HOVER a{color: #8080C0;}
.oldTheme1 .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_1.jpg) no-repeat;background-size:100% 94px;}
.oldTheme1 .spacetabs ul.nav-tabs li.active .tabname{color: #8080C0;}
.oldTheme1 .bgcolor{background-color: #8080C0;}
.oldTheme1 .bghover:HOVER{background-color: #8080C0;}
.oldTheme1 .fontcolor{color: #8080C0;}
.oldTheme1 .bgfontcolor:HOVER{color: #8080C0;}
*/


body[themetype="person"][themeval="oldTheme1"] {background: url(../../../images/space/main/oldTheme_1.jpg) no-repeat scroll center top #b5e2ff;}
body[themetype="person"][themeval="oldTheme1"] #navul_space li.navmoon:HOVER a{color: #FFF;}
body[themetype="person"][themeval="oldTheme1"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_1.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme1"] .spacetabs ul.nav-tabs li.active .tabname{color: #3b88bd;}
body[themetype="person"][themeval="oldTheme1"] .bgcolor{background-color: #3b88bd;}
body[themetype="person"][themeval="oldTheme1"] .bghover:HOVER{background-color: #3b88bd;}
body[themetype="person"][themeval="oldTheme1"] .fontcolor{color: #3b88bd;}
body[themetype="person"][themeval="oldTheme1"] .bgfontcolor:HOVER{color: #3b88bd;}
body[themetype="person"][themeval="oldTheme1"] .portlet_content {border-top: 2px solid #4c9ed6;}
body[themetype="person"][themeval="oldTheme1"] #nav_space_maintop {background-color: #3b88bd;}
body[themetype="person"][themeval="oldTheme1"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme1"] #navul_space li a:visited {color : #FFF;}
body[themetype="person"][themeval="oldTheme1"] #navul_space li.outli.active > a {background-color: #206595;}

body[themetype="person"][themeval="oldTheme2"] {background: url(../../../images/space/main/oldTheme_2.jpg) no-repeat scroll center top #b2e4e1;}
body[themetype="person"][themeval="oldTheme2"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_2.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme2"] .spacetabs ul.nav-tabs li.active .tabname{color: #338198;}
body[themetype="person"][themeval="oldTheme2"] .bgcolor{background-color: #338198;}
body[themetype="person"][themeval="oldTheme2"] .bghover:HOVER{background-color: #338198;}
body[themetype="person"][themeval="oldTheme2"] .fontcolor{color: #338198;}
body[themetype="person"][themeval="oldTheme2"] .bgfontcolor:HOVER{color: #338198;}
body[themetype="person"][themeval="oldTheme2"] .portlet_content {border-top: 2px solid #77bace;}
body[themetype="person"][themeval="oldTheme2"] #nav_space_maintop {background-color: #338198;}
body[themetype="person"][themeval="oldTheme2"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme2"] #navul_space li a:visited {color : #FFF;}
body[themetype="person"][themeval="oldTheme2"] #navul_space li.outli.active > a {background-color: #16637a;}

body[themetype="person"][themeval="oldTheme3"] {background: url("../../../images/space/main/oldTheme_3.jpg") no-repeat scroll center top #f5e7d0;}
body[themetype="person"][themeval="oldTheme3"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_3.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme3"] .spacetabs ul.nav-tabs li.active .tabname{color: #a36943;}
body[themetype="person"][themeval="oldTheme3"] .bgcolor{background-color: #a36943;}
body[themetype="person"][themeval="oldTheme3"] .bghover:HOVER{background-color: #a36943;}
body[themetype="person"][themeval="oldTheme3"] .fontcolor{color: #a36943;}
body[themetype="person"][themeval="oldTheme3"] .bgfontcolor:HOVER{color: #a36943;}
body[themetype="person"][themeval="oldTheme3"] .portlet_content {border-top: 2px solid #cca084;}
body[themetype="person"][themeval="oldTheme3"] #nav_space_maintop {background-color: #a36943;}
body[themetype="person"][themeval="oldTheme3"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme3"] #navul_space li a:visited {color : #FFF;}
body[themetype="person"][themeval="oldTheme3"] #navul_space li.outli.active > a {background-color: #7b411b;}

body[themetype="person"][themeval="oldTheme4"] {background: url("../../../images/space/main/oldTheme_4.jpg") no-repeat scroll center top #fff3c7;}
body[themetype="person"][themeval="oldTheme4"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_4.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme4"] .spacetabs ul.nav-tabs li.active .tabname{color: #bca13c;}
body[themetype="person"][themeval="oldTheme4"] .bgcolor{background-color: #bca13c;}
body[themetype="person"][themeval="oldTheme4"] .bghover:HOVER{background-color: #bca13c;}
body[themetype="person"][themeval="oldTheme4"] .fontcolor{color: #bca13c;}
body[themetype="person"][themeval="oldTheme4"] .bgfontcolor:HOVER{color: #bca13c;}
body[themetype="person"][themeval="oldTheme4"] .portlet_content {border-top: 2px solid #c4ac55;}
body[themetype="person"][themeval="oldTheme4"] #nav_space_maintop {background-color: #bca13c;}
body[themetype="person"][themeval="oldTheme4"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme4"] #navul_space li a:visited {color : #FFF;}
body[themetype="person"][themeval="oldTheme4"] #navul_space li.outli.active > a {background-color: #907614;}

body[themetype="person"][themeval="oldTheme5"] {background: url("../../../images/space/main/oldTheme_5.jpg") no-repeat scroll center top #fff6e5;}
body[themetype="person"][themeval="oldTheme5"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_5.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme5"] .spacetabs ul.nav-tabs li.active .tabname{color: #7a6148;}
body[themetype="person"][themeval="oldTheme5"] .bgcolor{background-color: #7a6148;}
body[themetype="person"][themeval="oldTheme5"] .bghover:HOVER{background-color: #7a6148;}
body[themetype="person"][themeval="oldTheme5"] .fontcolor{color: #7a6148;}
body[themetype="person"][themeval="oldTheme5"] .bgfontcolor:HOVER{color: #7a6148;}
body[themetype="person"][themeval="oldTheme5"] .portlet_content {border-top: 2px solid #beae9d;}
body[themetype="person"][themeval="oldTheme5"] #nav_space_maintop {background-color: #7a6148;}
body[themetype="person"][themeval="oldTheme5"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme5"] #navul_space li a:visited {color : #FFF;}
body[themetype="person"][themeval="oldTheme5"] #navul_space li.outli.active > a {background-color: #513c27;}

body[themetype="person"][themeval="oldTheme6"] {background: url(../../../images/space/main/oldTheme_6.jpg) no-repeat scroll center top #b2d4b3;}
body[themetype="person"][themeval="oldTheme6"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_6.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme6"] .spacetabs ul.nav-tabs li.active .tabname{color: #75a877;}
body[themetype="person"][themeval="oldTheme6"] .bgcolor{background-color: #75a877;}
body[themetype="person"][themeval="oldTheme6"] .bghover:HOVER{background-color: #75a877;}
body[themetype="person"][themeval="oldTheme6"] .fontcolor{color: #75a877;}
body[themetype="person"][themeval="oldTheme6"] .bgfontcolor:HOVER{color: #75a877;}
body[themetype="person"][themeval="oldTheme6"] .portlet_content {border-top: 2px solid #afd1b0;}
body[themetype="person"][themeval="oldTheme6"] #nav_space_maintop {background-color: #75a877;}
body[themetype="person"][themeval="oldTheme6"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme6"] #navul_space li a:visited {color : #333;}
body[themetype="person"][themeval="oldTheme6"] #navul_space li.outli.active > a {background-color: #3b6c3d;}

body[themetype="person"][themeval="oldTheme7"] {background: url(../../../images/space/main/oldTheme_7.jpg) no-repeat scroll center top #aae1f6;}
body[themetype="person"][themeval="oldTheme7"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_7.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme7"] .spacetabs ul.nav-tabs li.active .tabname{color: #61a0cf;}
body[themetype="person"][themeval="oldTheme7"] .bgcolor{background-color: #61a0cf;}
body[themetype="person"][themeval="oldTheme7"] .bghover:HOVER{background-color: #61a0cf;}
body[themetype="person"][themeval="oldTheme7"] .fontcolor{color: #61a0cf;}
body[themetype="person"][themeval="oldTheme7"] .bgfontcolor:HOVER{color: #61a0cf;}
body[themetype="person"][themeval="oldTheme7"] .portlet_content {border-top: 2px solid #77bace;}
body[themetype="person"][themeval="oldTheme7"] #nav_space_maintop {background-color: #61a0cf;}
body[themetype="person"][themeval="oldTheme7"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme7"] #navul_space li a:visited {color : #333;}
body[themetype="person"][themeval="oldTheme7"] #navul_space li.outli.active > a {background-color: #276c9f;}

body[themetype="person"][themeval="oldTheme8"] {background: url(../../../images/space/main/oldTheme_8.jpg) no-repeat scroll center top #f7f0da;}
body[themetype="person"][themeval="oldTheme8"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_8.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme8"] .spacetabs ul.nav-tabs li.active .tabname{color: #7e653f;}
body[themetype="person"][themeval="oldTheme8"] .bgcolor{background-color: #7e653f;}
body[themetype="person"][themeval="oldTheme8"] .bghover:HOVER{background-color: #7e653f;}
body[themetype="person"][themeval="oldTheme8"] .fontcolor{color: #7e653f;}
body[themetype="person"][themeval="oldTheme8"] .bgfontcolor:HOVER{color: #7e653f;}
body[themetype="person"][themeval="oldTheme8"] .portlet_content {border-top: 2px solid #c6b08f;}
body[themetype="person"][themeval="oldTheme8"] #nav_space_maintop {background-color: #c6b08f;}
body[themetype="person"][themeval="oldTheme8"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme8"] #navul_space li a:visited {color : #333;}
body[themetype="person"][themeval="oldTheme8"] #navul_space li.outli.active > a {background-color: #7e653f;}

body[themetype="person"][themeval="oldTheme9"] {background: url(../../../images/space/main/oldTheme_9.jpg) no-repeat scroll center top #ceddb4;}
body[themetype="person"][themeval="oldTheme9"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_9.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme9"] .spacetabs ul.nav-tabs li.active .tabname{color: #be9032;}
body[themetype="person"][themeval="oldTheme9"] .bgcolor{background-color: #be9032;}
body[themetype="person"][themeval="oldTheme9"] .bghover:HOVER{background-color: #be9032;}
body[themetype="person"][themeval="oldTheme9"] .fontcolor{color: #be9032;}
body[themetype="person"][themeval="oldTheme9"] .bgfontcolor:HOVER{color: #be9032;}
body[themetype="person"][themeval="oldTheme9"] .portlet_content {border-top: 2px solid #c0d993;}
body[themetype="person"][themeval="oldTheme9"] #nav_space_maintop {background-color: #FFF;}
body[themetype="person"][themeval="oldTheme9"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme9"] #navul_space li a:visited {color : #333;}
body[themetype="person"][themeval="oldTheme9"] #navul_space li.outli.active > a {background-color: #6e9032;color: #FFF;}

body[themetype="person"][themeval="oldTheme10"] {background: url(../../../images/space/main/oldTheme_10.jpg) no-repeat scroll center top #d8e1d0;}
body[themetype="person"][themeval="oldTheme10"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_10.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme10"] .spacetabs ul.nav-tabs li.active .tabname{color: #6f8956;}
body[themetype="person"][themeval="oldTheme10"] .bgcolor{background-color: #6f8956;}
body[themetype="person"][themeval="oldTheme10"] .bghover:HOVER{background-color: #6f8956;}
body[themetype="person"][themeval="oldTheme10"] .fontcolor{color: #6f8956;}
body[themetype="person"][themeval="oldTheme10"] .bgfontcolor:HOVER{color: #6f8956;}
body[themetype="person"][themeval="oldTheme10"] .portlet_content {border-top: 2px solid #b9c9aa;}
body[themetype="person"][themeval="oldTheme10"] #nav_space_maintop {background-color: #a6b895;}
body[themetype="person"][themeval="oldTheme10"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme10"] #navul_space li a:visited {color : #333;}
body[themetype="person"][themeval="oldTheme10"] #navul_space li.outli.active > a {background-color: #6f8956;color: #FFF;}

body[themetype="person"][themeval="oldTheme11"] {background: url(../../../images/space/main/oldTheme_11.jpg) no-repeat scroll center top #c1d7f1;}
body[themetype="person"][themeval="oldTheme11"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_11.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme11"] .spacetabs ul.nav-tabs li.active .tabname{color: #3d6cac;}
body[themetype="person"][themeval="oldTheme11"] .bgcolor{background-color: #3d6cac;}
body[themetype="person"][themeval="oldTheme11"] .bghover:HOVER{background-color: #3d6cac;}
body[themetype="person"][themeval="oldTheme11"] .fontcolor{color: #3d6cac;}
body[themetype="person"][themeval="oldTheme11"] .bgfontcolor:HOVER{color: #3d6cac;}
body[themetype="person"][themeval="oldTheme11"] .portlet_content {border-top: 2px solid #a3bfe0;}
body[themetype="person"][themeval="oldTheme11"] #nav_space_maintop {background-color: #FFFFFF;}
body[themetype="person"][themeval="oldTheme11"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme11"] #navul_space li a:visited {color : #000;}
body[themetype="person"][themeval="oldTheme11"] #navul_space li.outli.active > a {background-color: #3d6cac;color: #FFF;}

body[themetype="person"][themeval="oldTheme12"] {background: url(../../../images/space/main/oldTheme_12.jpg) no-repeat scroll center top #bed4a5;}
body[themetype="person"][themeval="oldTheme12"] .person_selfInfoDiv .top .bg2{background: url(../../../images/space/main/oldTheme_12.jpg) no-repeat;background-size:100% 94px;}
body[themetype="person"][themeval="oldTheme12"] .spacetabs ul.nav-tabs li.active .tabname{color: #538b3e;}
body[themetype="person"][themeval="oldTheme12"] .bgcolor{background-color: #538b3e;}
body[themetype="person"][themeval="oldTheme12"] .bghover:HOVER{background-color: #538b3e;}
body[themetype="person"][themeval="oldTheme12"] .fontcolor{color: #538b3e;}
body[themetype="person"][themeval="oldTheme12"] .bgfontcolor:HOVER{color: #538b3e;}
body[themetype="person"][themeval="oldTheme12"] .portlet_content {border-top: 2px solid #bed4a5;}
body[themetype="person"][themeval="oldTheme12"] #nav_space_maintop {background-color: #FFF;}
body[themetype="person"][themeval="oldTheme12"] #navul_space li a:link,
body[themetype="person"][themeval="oldTheme12"] #navul_space li a:visited {color : #333;}
body[themetype="person"][themeval="oldTheme12"] #navul_space li.outli.active > a {background-color: #538b3e;color: #FFF;}

/*名师活动样式布局*/
.hr_1 {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.hr_1_img {
    width: 241px;
    float: left;
}
.hr_1_list {
    text-align: center;
    padding: 10px 10px 0;
    height: 150px;
}
.business_title {
    line-height: 35px;
    text-align: left;
    border-bottom: 1px dashed #afafaf;
    overflow: hidden;
    margin-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.hr_1_list li a {
    color: #000;
}

