#pager{
	clear:both;
	height:30px;
	line-height:30px;
	margin-top:20px;
	color:#fff;
	font-size:14px;
	
}
#pager a{
	padding:2px 10px;
	margin:10px 3px;
	border:1px solid #ddd;
	background-color:#f3f3f3;
	color:#666;
	text-decoration:none;
}
#pager span{
	font-size:14px;
}
#pager span.disabled{
	padding:2px 10px;
	margin:10px 3px;
	
	border:1px solid #DFDFDF;
	background-color:#F8F8F8;
	color:#bbb;
}
#pager span.curr{
	padding:2px 10px;
	margin:10px 3px;
	
	border:1px solid #FF6600;
	background-color:#FF6600;
	color:#FFF;
}
#pager a:hover{
	background-color:#FF6600; /*#FFEEE5*/
	border:1px solid #FF6600;
	color:#fff;
}
#pager span.normalsize{ padding-left:8px;
	color:#777
	
}
#pager_gopage_wrap{
	display:inline-block;
	width:40px;
	height:18px;
	border:1px solid #DFDFDF;
	margin:0px 3px;
	padding:0px;
	position:relative;
	left:0px;
	top:5px;
}
#pager_btn_go {
	width:40px;
	height:20px;
	line-height:20px;
	padding:0px;
	font-family:arial,ו,sans-serif;
	text-align:center;
	border:0px;
	background-color:#0063DC;
	color:#FFF;
	position:absolute;
	left:0px;
	top:-1px;
	display:none;
}
#pager_btn_go_input{
	width:38px;
	height:16px;
	text-align:center;
	border:0px;
	position:absolute;
	left:0px;
	top:0px;
	outline:none;
	color:#666;
}