.mh_Login a:hover {
	text-decoration: underline
}

.mh_Login {
	height: 58px;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: #fff
}

.mh_Login_div {
	width: 980px;
	padding-top: 10px;
	margin: 0 auto;
	position: relative
}

.mh_Login_left {
	float: left;
	font-size: 14px;
	padding-top: 5px
}

.mh_Login_left a {
	height: 45px;
	padding-right: 20px;
	height: 16px;
	line-height: 16px;
	font-family: "微软雅黑"
}

.mh_Login_left a img {
	padding-right: 6px;
	height: 16px;
	width: 16px
}

.mh_Login_div table td {
	padding-right: 5px;
	font-size: 14px;
	font-family: '微软雅黑';
	color: #3c3c3c
}

.mh_Login_div .mh_Login_input {
	width: 100px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ebebeb;
	background: #fff;
	color: #b5b5b5;
	margin-left: 3px;
	cursor: pointer
}

.mh_login_btn01 {
	width: 41px;
	height: 27px;
	background: #b7b7b7;
	color: #FFF;
	display: inline-block;
	cursor: pointer;
	border: 0
}

.mh_login_btn02 {
	width: 41px;
	height: 27px;
	background: #b7b7b7;
	color: #FFF;
	display: inline-block;
	cursor: pointer;
	border: 0;
	margin-left: 5px
}

.mh_Login_right {
	float: right;
	padding-top: 13px
}

.mh_Login_right a {
	height: 45px;
	padding-right: 14px;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	font-family: "微软雅黑"
}

.mh_Login_right a img {
	padding-right: 6px;
	height: 16px;
	width: 16px
}

.mh_Login_right em {
	position: absolute
}

.mh_Login_right em img {
	width: 9px;
	height: 5px;
	position: absolute;
	top: 5px;
	left: 4px
}

.list ul li {
	height: 20px;
	position: absolute;
	right: 0;
	top: 11px
}

.list #navfouce li a {
	display: block;
	height: 50px;
	color: #000
}

.list #navfouce a:hover {
	color: #d11418
}

#navfouce img {
	width: 9px;
	height: 5px;
	padding-top: 5px;
	padding-left: 3px
}

.mh_Login_right .box {
	position: absolute;
	left: 0;
	top: 58px;
	z-index: 99;
	width: 980px;
	background: #f4f9fc;
	overflow: hidden
}
.cont {
	position: relative
}

.clearfix li {
	font-family: '微软雅黑'
}

.clearfix li h1.mcate-item-hd {
	float: left;
	min-width: 70px;
	height: 24px;
	line-height: 24px;
	margin-top: 5px;
	margin-left: 5px;
	text-align: center;
	background: #47b2d2;
	color: #FFF;
	font-size: 12px;
	font-family: '微软雅黑'
}

.clearfix li p.mcate-item-bd {
	padding-left: 90px;
	text-align: left
}

.clearfix li p.mcate-item-bd a {
	height: 24px;
	line-height: 24px;
	margin: 0 5px;
	font-size: 14px;
	text-decoration: none;
	display: inline-block
}

.clearfix li p.mcate-item-bd a:hover {
	font-size: 14px;
	font-weight: 700
}

.now {
	color: #d11418;
	font-size: 14px;
	font-weight: 700
}

.hr_4_bg {
    background: rgba(0, 0, 0, 0) url("../../images/yx/hr_4_bg2.jpg") repeat-x scroll 0 0;
    height: 130px;
    margin-top: 5px;
    width: 100%;
}